body {
    background: #e7e7e7;
    font: 16px/1.5 Helvetica, Sans-Serif;
}

#board {
    border: solid 1px black;
    padding: 0.25rem;
}

.cell {
    background: white;
    border: solid 1px #666;
    margin: 0.25rem;
    padding: 0.25rem;
}
    .cell.alive {
        background: #ccc;
    }
