body {
    background: #e7e7e7;
    font: 16px/1.5 Helvetica, Sans-Serif;
    padding: 0 1rem;
}

#board {
    background: #999;
    border: solid 1px #999;
    display: inline-block;
    margin: 0 0 1rem;
}

.row {
    line-height: 0;
}

.cell {
    background: #666;
    display: inline-block;
    margin: 1px;
    padding: 0.25rem;
}
    .cell.alive {
        background: white;
    }

footer {
    border-top: solid 1px black;
    font-size: 85%;
}
